
*{
  padding: 0;
  margin: 0;
}

#title{
  font-family: 'YuMincho','Yu Mincho';
  font-size:70px !important;
  color: #e3d7a3;
  /* color: blue; */
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

#sub-title{
  font-size: 20px !important;
  color: black;
}


body{
  background-image: url(image/mt.siretoko.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


#wrap{
  margin-top: 100px;
}


#wrap p{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#japanese{
  padding-top: 20px;
}

#agePlace{
  width: fit-content;
  margin:auto;
  margin-top: 15px;
}


#age{
  width: 150px;
  height: 80px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

#gender{
  width: 150px;
  height: 80px;  
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

#start{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

#btn{
  width: 170px;
  font-size: 15px;
  border-radius: 10px;
}

#answer{
  width: fit-content;
  margin:auto;
  margin-top: 15px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(115, 0, 255);
}